body{
    margin: 0px;
}
.navigation{
    background-color:#008cba ;
     width:100%; 
     height:4rem;
     position:fixed;
     z-index:999;
}
pre{
    font-size: 1.4rem;
}
table{
    font-size: 1.4rem;
    border: none;
    width: 100%;
    height: 100%;
    margin-top: 0px;
}
tr{
    width: 100%;
    height: 100%;
    font-weight: 300;
    color:floralwhite;
}
td{
    width: 10%;
    height: 100%;
}
address{
    display: inline;
}
p{
    margin-left: 5%;
    white-space:pre-wrap;
}
td>a>div{
    text-align: center;
    margin-top: -1%;
    height: 100%;
    width: 100%;
    padding-top: 15%;
}
.p_ok{
    white-space: initial;
}
.no_underline{
    text-decoration: none;
    color: floralwhite;
}
.GLW{
    width: 50%;
    font-size: 1.90rem;
}
#problem_body{
    background-color: rgba(7, 7, 7, 0.055);
}
.menu:hover>a{
    color: rgb(181, 232, 233);
}
.menu:hover{
    background-color: #0079a1;
}
.fill_div{
    width:15%;
    display: inline-block;
}
.container{
    width: 70%;
    display: inline-block;
}
.card{
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
    border:1px solid rgba(0,0,0,.125);
}
.card_header{
    border-bottom: 1px solid rgba(0,0,0,.125);
    background-color:rgba(0,0,0,.03);
}
.A_font{
    font-size: 2rem;
}
.B_font{
    font-size: 1.75rem;
    color: #596063;
}
.C_font{
    font-size: small;
    font-style:italic;
    color: chocolate;
    border-bottom: 1px #888;
}
.D_font{
    font-size: 1.5rem;
    font-style:italic;
    color: #888;
}
li{
    text-align: center;
    list-style: none;
    margin:40px;
}
title{
    margin-bottom: 0.75rem;
}
.content{
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 1.5rem;
}
hr {
    filter: alpha(opacity=100,finishopacity=0,style=3); 
    color:rgba(0, 0, 0, 0.2); 
    size: 2;
    width:100%;
}
.card_speaker{
    width: 70%;
    height: 3rem;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 3%;
    padding-top: 0.25rem;
    padding-left: 1.25rem;
    align-self: center;
    background-color:rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
.speaker{
    height: 100%;
    margin-top: 1%;
}
#try_it{
    text-decoration: none;
    color: blueviolet;
}
#try_it:hover{
    color: brown;
}
.up{
    position: fixed;
    margin-right:30px;
    height:50px;
    margin-top: 30%;
}
div img{
    cursor: pointer;  
    transition: all 0.6s;  
}  
div img:hover{  
    transform: scale(1.4);
     
}
.column{
    width:40%;
    height:3rem;
    display: inline-block;
}
.active{
    border-radius: 10%;
    background-color: #008cbd;
    color:whitesmoke;
}
.negative{
    border-radius: 10%;
    background-color: white;
    color:  #888;
}
.negative:hover{
    background-color: rgba(7, 7, 7, 0.082);
}
.number_block{
    text-align: center;
    width: 10%;
    height: 100%;
    display: inline-block;
}
.number{
    font-size: 1rem;
    vertical-align: middle;
}
.final_page{
    border-radius: 10%;
    color:rgb(221, 217, 217);
}
.no_underline a{
    text-decoration: none;
}
.search_box{
    position: absolute;
    width:20%;
    height:3rem;
    display: inline-block;
    font-family: 'Microsoft YaHei';
}
.search_box .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background:#008cbd;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
.search_box .search:hover {
    cursor: pointer;
}
.search_box .search::before {
    position: absolute;
    content: "";
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all .5s;
}
.search_box .search::after {
    position: absolute;
    content: "";
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .5s;
}
.search_box input {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: rgb(181, 232, 233);
    color: white;
    text-shadow: 0 0 5px rgb(181, 232, 233);
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 rgb(181, 232, 233), 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}
.search_boxr input:hover {
    cursor: pointer;
}
.search_box input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
}
.search_box input:focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
}
.search_box input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
}
.search_box input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background:red;
    border-radius: 0%;
    transform: rotate(-45deg);
}
.search_box input::placeholder {
    color: red;
    opacity: 0.5;
    font-weight: bolder;
}
.problem_box{
    width: 100%;
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background-color:#fff;
}
.problem_list{
    font-size: 1.5rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 23%;
    height: 4rem
}
.list_box{
    align-self: center;
    width: 100%;
    height: 8%;
    border-radius: 1%;
    text-align: left;
    border-bottom:1px solid rgba(0,0,0,.125);
}
.div_diff{
    margin-left: 15%;
    width: 55px;
}
#problem_list_word{
    font-size: 1.5rem;
    margin-left: 10%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
#color_b{
    color: black;
}
#color_b:hover{
    color: cornflowerblue;
}
#color_bl{
    background-color:blue;
    color: white;
    border-radius: 10%;
}
#color_bl:hover{
    background-color: rgb(93, 93, 253);
}
#color_g{
    background-color:rgb(5, 167, 5);
    color: white;
    border-radius: 10%;
}
#color_g:hover{
    background-color:rgb(4, 192, 4);
}
#color_r{
    background-color:rgb(240, 33, 33);
    color: white;
    border-radius: 10%;
}
#color_r:hover{
    background-color: rgb(250, 94, 94);
}
#color1{
    background-color:rgba(0, 0, 0, 0.089);
}
#color2{
    background-color:rgba(0, 0, 0, 0.068)
}
#text_pos{
    text-align: center;
}
.margin_r{
    margin-right: 40%;
    opacity:0.65;
}
.margin_r:hover{
    opacity: 1.0;
}
.home_hr {
    margin-top: 3rem;
    width:90%;
}
.no_way{
    margin-left: 100px;
}
.no_block{
    width:100%;
    height: 10%;
}
.container_no_way{
    width: 50%;
    display: inline-block;
}
.help_me{
    margin-left: 240px;
    outline:none;
    color: white;
    background: rgba(0, 0, 0, 0.452);
    border: rgba(0, 0, 0, 0.452);
    width: 180px;
    height: 62px;
    border-radius: 5%;
    font-size: 1.2rem;
}
.help_me:hover{
    background: rgba(0, 0, 0, 0.356);
    border: rgba(0, 0, 0, 0.356);
}
.fill_no_way{
    width:13%;
    display: inline-block;
}
.list_ok{
    list-style: initial;
    text-align: left;
}
.problem_dis{
    display:flex;
    flex-direction:column;
    min-width:0;
    background-color:#fff;
    border:1px solid rgba(0,0,0,.125);
}
.E_font{
    font-size: 1.2rem;
    color: #596063;
    text-align: left;
}
#word_color{
    color: rgb(0, 0, 206);
}
.example{
    width:40%;
    text-align: left;
    display: inline-block;
}
.example_box{
    margin-left: 2rem;
    border:1px solid rgba(0,0,0,.125);
    margin-bottom: 1rem;
}
#example_color{
    color: rgb(168, 0, 93);
}
.language{
    height: 3rem;
    width: 20%;
    margin-left: 2rem;
    text-align: left;
    display: inline-block;
}
.selection{
    width: 10rem;
    height: 2rem;
}
.input_box{
    width: 90%;
    background-color: #fff;
}
#text_size{
    height: 90%;
    width: 100%;
    margin-left: 2rem;
}
#text_font{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    overflow: auto;
    word-break: break-all;
}
#sub{
    outline:none;
    align-self: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    height: 4rem;
    color: white;
    width: 6rem;
    background-color: rgb(93, 93, 253);
    margin-left: 50%;
    border: 2px solid rgb(93, 93, 253);
    border-radius: 10%;
}
#sub:hover{
    background-color: rgb(0, 192, 0);
    border: 2px solid rgb(0, 192, 0);
    transform: matrix3d();
    translate: all 0.5s;
}
.judge_block{
    align-content: center;
    margin-left: 3rem;
    width: 90px;
    height: 90px;
    background-color:#008cbd;
    display: inline-block;
}
.rotate{
    margin-top: 25px;
    margin-left: 25px;
    animation:rotateImg 2.5s linear infinite;
    width: 40px ;
    height: 40px;
    border: 0px solid #ccc;
    vertical-align: middle;
}
@keyframes rotateImg {
  0% {transform : rotate(0deg);}
  100% {transform : rotate(360deg);}
}
@-webkit-keyframes rotateImg {
    0%{-webkit-transform : rotate(0deg);}
  100%{-webkit-transform : rotate(360deg);}
}
#color_font_r{
    color: red;
    font-weight: bold;
}
.wrap{
    word-wrap:break-word;
}
.head_portrait{
    margin-left: 5%;
    
}
.head_portrait:hover{
    transform: scale(1.0); 
}
.fill_div_user{
    margin-left: 5%;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow:6px 6px 5px silver;
    background-color:whitesmoke;
    width:90%;
    align-self: center;
}
.bgc_gainsboro{
    background-color:gainsboro;
}
.hp_box, .user_info{
    margin-left: 5%;
    display: inline-block;
}
.user_info{
    margin-left: 1%;
    margin-right: 1%;
    width: 20%;
}
.name{
    padding-left: 5%;
    font-size: 1.5rem;
    font-style: initial;
}
#it{
    font-style: italic;
    color: rgba(7, 7, 7, 0.308);
}
#logo{
    width: 60%;
    text-align: left;
    font-size: 1rem;
    color: rgb(235, 0, 0);
}
.fill_div_sides{
    margin-left: 5%;
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    width:25%;
    display: inline-block;
}
.fill_div_side{
    margin-top: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow:6px 6px 5px silver;
    background-color:whitesmoke;
}
.fill_div_container{
    margin-left: 3%;
    padding-left: 2%;
    padding-right: 4%;
    margin-top: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow:6px 6px 5px silver;
    width:55.5%;
    background-color:whitesmoke;
    display: inline-block;
}
.p_user{
    margin-left: 10%;
    white-space: initial;
    font-size: 1.2rem;
}
.p_des{
    margin-left: 10%;
    white-space: initial;
    font-size: .8rem;
}
.img_p{
    padding-left: 10%;
    display: inline;
}
span{
    font-size: 1.2rem;
    display: inline-flex;
}
.p_img{
    float: right;
    padding-left: 5%;
    margin-right: 20%;
}
#size{
    font-size: 1.5rem;
    text-align: left;
}
.logout{
    background-color: #38a1d1b7;
    margin-left: 35%;
    margin-bottom: 5%;
    border-radius: 5%;
    border: 1px solid black;
    padding-top: 3%;
    text-align: center;
    font-size: 1.5rem;
    width: 30%;
    height: 5%;
}
.logout a{
    color: rgb(49, 48, 48);
}
.logout a:hover{
    color: rgb(48, 48, 47);
}
#bg{
    background-color: whitesmoke;
    background-size: 185px, 150px;
    background-repeat: space;
}
.go_center{
    text-align: center;
}
.login{
    color: rgb(0, 145, 145);
}
.learning{
    margin-left: 15%;
    text-align: left;
    line-height: 2.75rem;
}