#icon {
    font-size: 80px;
    font-family: "Browser MDL2 Assets";
    font-weight: normal;
    color: #1f1f1f;
    margin: 0px 24px 0px 10px;
    display: block;
}
td, table {
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0;
}